.game {
    border-radius: 6px;
    background: #CCC1B4;
    position: relative;
    height:200px;
    width:200px;
}

.tile{
    border-radius: 3px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    transition: top 5s, left 5s;
    height: 45px;
    width: 45px;
}
.tileContents{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.t2   { background: #EEE4DA}
.t4   { background: #EDE0C8}
.t8   { background: #F2B179}
.t16  { background: #F59563}
.t32  { background: #E07157}
.t64  { background: #F5613C}
.t128 { background: #D5BA66}
.t256 { background: #EDCC62}
